* {
box-sizing: border-box;

  padding: 0px;
  margin: 0px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #7143a5; */
  /* color: white; */
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-prabinfo {
  /* background-color: #7143a5; */
  /* color: white; */
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.viewheight {
  height: 100vh;
}

.about, .nav {
  background-color: #dddddd;
  color: #222222;
}

.home, .contact {
  background-color: #222222;
  color: #dddddd;
}

a {
  font-size: small;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

a:hover
{
 color:white;
 text-decoration:none;
 cursor:pointer;
}

.aboutbox  {
  background-color: aqua;
}

.portrait {
  width: 100%;
  margin: 50px;
  opacity: 0.5;
}

.downarrow {
  width: 10%;
  background-color: #dddddd;
  margin: 50px;
  border-radius: 100px;
}

.textimagespacing {
  justify-content: space-evenly;
  margin: 20px;
  padding: 20px;
}

.projectsheadingtitle {
  margin: 50px;
}

.projectsheading {
  justify-content: center;
}